Host pi
    HostName raspberrypi.local
    User pi

Host nano
    HostName jetson-nano.local
    User kyle

Host *
    AddKeysToAgent yes
    ForwardAgent yes
    ForwardX11 yes
    IdentityFile ~/.ssh/id_rsa
    PubKeyAuthentication yes
    StrictHostKeyChecking=no
    UseKeychain yes
    UserKnownHostsFile ~/.ssh/known_hosts